<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiences</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/code.js"></script>
</head>
<body>
    <h1>My Experiences</h1>
    <div id="buttons">
        <a href="/">Home</a>
        <a href="/about">About Me</a>
        <a href="/projects">Projects</a>
        <a href="/experience">Experience</a>
    </div>
    <div id="content">
        <h2>Sprinkler Technician</h2>
        <p>Inspected and repaired sprinkler systems at various locations throughout Utah. Minimization of cost and water use while maximizing quality of landscaping was key at this job.</p>
    </div>
    <div id="content">
        <h2>Pizza Parlor Manager</h2>
        <p>Managed a team of employees, handled customer inquiries, and ensured food quality and safety standards were met.</p>
    </div>
    <div id="content">
        <h2>Retail Associate</h2>
        <p>Assisted customers with purchases, maintained store cleanliness, and managed inventory.</p>
    </div>
</body>
</html>
