<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/code.js"></script>
</head>
<body>
    <h1>Dallin Moon</h1>
    <div id="buttons">
        <a href="/">Home</a>
        <a href="/about">About Me</a>
        <a href="/projects">Projects</a>
        <a href="/experience">Experience</a>
    </div>
    <div id="content">
        <h2>Welcome to my personal website!</h2>
        <p>This app is a simple biography, containing some of my projects and experiences! Navigation is located at the top, with each page labeled (this is the home page).</p>
    </div>
</body>
</html>