<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/code.js"></script>
</head>
<body>
    <h1>My Projects</h1>
    <div id="buttons">
        <a href="/">Home</a>
        <a href="/about">About Me</a>
        <a href="/projects">Projects</a>
        <a href="/experience">Experience</a>
    </div>
    <div id="content">
        <h2>Arm 64 Sprinkler System on Raspberry Pi</h2>
        <p>This project involves setting up a sprinkler system using a Raspberry Pi with an ARM 64 architecture. The system takes user input and writes it to a control file. This file stores information regarding the zones, including type of vegetation, sprinkler runtime and priority. It then sends a signal to turn on a zone for the allotted time, and turn it off. Future improvements would include setting automated start times to run the zones, and purchasing of sprinkler equipment to facilitate and test the program.</p>
    </div>
    <div id="content">
        <h2>Family History Map</h2>
        <p>This project involves creating a map that visualizes birthplaces of close family. A python script was developed to collect data and compile it in a csv which can then be displayed using Geographic Information Systems.</p>
    </div>
    <div id="content">
        <h2>Viewshed Calculation GIS Tool</h2>
        <p>This tool calculates the viewshed of specific locations and calculates a score of each individual viewpoint based on input criteria. The project was undertaken to aid in the analysis of cell tower effectiveness. The input points represent the cell towers, which can have an arbitrary height assigned to them. The tool then uses a Digital Elevation Model to calculate visible area, and then intersects that visible area with features or areas of interest. By doing this, it can assign a numerical score to each tower and provide data based analysis for which cell towers will provide the best coverage. This tool would also be applicable in other analysis situations such as urban lighting projects, or projects that require minimization of visual effects on the surrounding area.</p>
    </div>
</body>
</html>
