{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity Tracker</title>
    <link rel="stylesheet" href="{% static 'Tracker/styles.css' %}">
</head>
<body>
    <h1>Create a new activity!</h1>
    <div id="actions">
        <a href="{% url 'new_activity' %}">Create New Activity</a> |
        <a href="{% url 'index' %}">Back to Home</a>
    </div>
    <form action="/new_activity/" method="post">
        {% csrf_token %}
        <label for="activity_name">Activity Name:</label>
        <input type="text" id="activity_name" name="activity_name" required>
        <button type="submit">Create Activity</button>
    </form>
</body>
</html>